
/***

div { 
    color: rgb(13, 15, 14);
}

*/

h2 {
    font-family: 'Anton', sans-serif;
    font-family: 'Bungee Spice', cursive;
    font-family: 'Grandstander', cursive;
    font-family: 'Nabla', cursive;
    color: rgb(185, 116, 26);
}


h3, p {
    font-family: 'Noto Color Emoji', sans-serif;
    background-color: white;
    text-align: center;
}



body {
    background: url(https://fondosmil.com/fondo/35701.jpg) no-repeat center center fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}

h5 {

      text-align: center;

}


/*
#info {
   
    background-image: white;
    background-size: cover;
}

*/
    

/*

#texto {

    font-family: 'Noto Color Emoji', sans-serif;
    background-color: white;
    text-align: center;
}


#hide {
    color: white;
}

*/

#presentacion {

    width: "200"; height:"200";
    background-color: rgb(39, 37, 37);

}

#pestañas {

    background-color: white
    
}


.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-youtube {
    background: #bb0000;
    color: white;
  }

  .fa-google {
    background: #dd4b39;
    color: white;
  }

 #idiomas {
    text-decoration: underline;
    background-color: white;
  }

 #mi_info {

    background-color: white;
 }

 #sobre_mi {

    background-color: white;
 }

 .footer {
   
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(63, 60, 60);
    color: rgb(63, 60, 60);
    text-align: center;
 }

 #footer {

    color: white;
    background-color: rgb(63, 60, 60);
 }

 #footer_icon {

    background-color: rgb(63, 60, 60);
 }

 /*
 #idiomas_2 {
  text-decoration: underline;
  background-color: white;
  opacity: 0.5;
 }

*/